* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article {
    border: 5px solid;
}


.container {
    max-width: 1200px;
    margin: 50px auto;
}

.ready-dress {
    margin-bottom: 10px;
}

.dollar {
    margin-top: 0px;
    margin-bottom: 0px;
}

.details {
    margin-top: 30px;
}
p strong {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
}

p {
    font-family: sans-serif;
    font-size: 22px;
}

.free-shiping {
    font-size: 18px;
    font-family: sans-serif;
    color: gray;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
}

a:link, a:visited {
    font-size: 22px;
    color: black;
}

a:hover {
    text-decoration: none;
}

h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: sans-serif;
}

li {
    font-size: 22px;
    font-family: sans-serif;
    list-style: square;
}

/* .Add {
    padding-top: 20px;
    padding-bottom: 20px;
} */
button { 
    border-top: 5px solid black;
    text-align: center;
    color: white;
    /* border: none;  */
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    width: 100%;
    /* padding-bottom: 40px; */
    text-transform: uppercase;
    padding: 20px;
}

button:hover {
    color: black;
    background-color: white;
}

h2 {
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
    background-color: rgb(242, 242, 242);
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    /* padding-top: 20px; */
    padding: 15px;
}

.shoes-img {
    width: 90%;
    height: 100%;
    /* margin-bottom: 7px; */
}

h2 {
    position: relative;
}

h2::before {
    content: "SALE";
    letter-spacing: 2px;
    font-size: 15px;
    color: white;
    background-color: red;
    padding: 8px 18px;
    position: absolute;
    top: -20px;
    left: -40px;
}

.colors {
    /* background-color: red; */
    padding-bottom: 10px;
    display: flex;
}

.yellow {
    background-color: yellow;
    /* margin-right: 20px; */
    margin-top: 30px;
    width: 40px;
    height: 40px;
}

.green {
    background-color: green;
    margin-right: 20px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
}

.blue {
    background-color: blue;
    margin-right: 20px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
}

.red {
    background-color: red;
    margin-right: 20px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
}

ul {
    margin-bottom: 0;
    padding: 0;
}

.row {
    display: flex;
    flex: 1;
    gap: 40px;
    align-items: center;
    /* background-color: red; */
}

.image {
    align-self: normal;
    /* background-color: black; */
}

.seconde-el {
    margin-top: 20px;
    /* background-color: yellow; */
}
.last-el {
    padding: 0;
    /* background-color: green; */
}

.flex-dollar {
    gap: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fix {
    width: 33%;
}